.main-body {

    a {
      font-size: 16px;
    }
    a:link, a:visited, a:active {
        color: rgb(255, 255, 255);
    }

    a:hover {
      animation: glow-move 2s infinite ease-in-out;
    }

    h1 {
        text-align: left;
    }
}

#p::after {
  content: "|";
  animation: blink 1s infinite;
  color: white;
}

@keyframes blink {
  0%, 100% {opacity: 1;}
  50% {opacity: 0;}
}

@keyframes glow-move {
      0% {
        text-shadow: 
          2px 2px 5px rgba(255, 255, 255, 0.8),
          -2px -2px 10px rgba(255, 255, 255, 0.5),
          0 0 15px rgba(255, 255, 255, 0.3);
      }
      25% {
        text-shadow: 
          -2px 2px 10px rgba(255, 255, 255, 1),
          2px -2px 15px rgba(255, 255, 255, 0.7),
          0 0 20px rgba(255, 255, 255, 0.5);
      }
      50% {
        text-shadow: 
          -2px -2px 10px rgba(255, 255, 255, 1),
          2px 2px 20px rgba(255, 255, 255, 0.8),
          0 0 30px rgba(255, 255, 255, 0.6);
      }
      75% {
        text-shadow: 
          2px -2px 8px rgba(255, 255, 255, 0.9),
          -2px 2px 15px rgba(255, 255, 255, 0.6),
          0 0 20px rgba(255, 255, 255, 0.4);
      }
      100% {
        text-shadow: 
          2px 2px 5px rgba(255, 255, 255, 0.8),
          -2px -2px 10px rgba(255, 255, 255, 0.5),
          0 0 15px rgba(255, 255, 255, 0.3);
      }
    }

.main-footer {
    position: fixed;
    bottom: 0%;
    right: 0%;
    left: 0%;
}

